/* MenuList.css */
.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 20px;
}

.pagination li {
  cursor: pointer;
  padding: 10px;
  margin: 0 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.pagination li.active {
  background-color: #4caf50;
  color: white;
}
