/* CustomPagination.css */
.custom-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
    background-color: rgb(221, 146, 33);
  }
  
  .custom-pagination ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .custom-pagination li {
    cursor: pointer;
    padding: 10px;
    margin: 0 5px;
    background-color: rgb(240, 192, 128);
    color: rgb(0, 0, 0);
    border: 2px solid #ddd;
    border-radius: 4px;
  }
  
  .custom-pagination li.active {
    background-color: #4caf50;
    color: white;
  }
  
  .pagination li.hover {
    background-color: #6079a5;
    color: white;
  }

/* 
  .pagination {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination li {
    cursor: pointer;
    padding: 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .pagination li.active {
    background-color: #af4c4c;
    color: white;
  } */