.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 20px;
}

.pagination li {
  cursor: pointer;
  padding: 10px;
  margin: 0 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.pagination li.active {
  background-color: #af4c4c;
  color: white;
}

.menu-display-container {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
}  
